[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PhylogeneticEM"]
	path = PhylogeneticEM
	url = https://github.com/pbastide/phylogeneticem
